// General classes structure
//

////////////////////////////////////////////////////////////////////////////
// Colors

$colorClass: ".color";
$colorKey: "black", "success", "error", "warning", "info", "white", "primary", "secondary";

#{$colorClass} {

	@each $key in $colorKey {
		&-#{$key} {
			color: map-get($colors, $key);
		}
    }
}

$bgColorClass: ".backgroundColor";

#{$bgColorClass} {

	@each $key in $colorKey {
		&-#{$key} {
			background-color: map-get($colors, $key);
		}
    }
}

////////////////////////////////////////////////////////////////////////////
// height

$height: ".height";
$heightKey: "auto", "inherit", "full";

#{$height} {

	@each $key in $heightKey {
		&-#{$key} {
			height: map-get($heights, $key);
		}
    }
}

////////////////////////////////////////////////////////////////////////////
// width

$width: ".width";
$widthKey: "auto", "inherit", "half", "full";

#{$width} {

	@each $key in $widthKey {
		&-#{$key} {
			width: map-get($widths, $key);
		}
    }
}

////////////////////////////////////////////////////////////////////////////
// flexGrows

$flexGrow: ".flexGrow";
$flexGrowKey: 0, 1, 2, 3, 4, 5;

#{$flexGrow} {

	@each $key in $flexGrowKey {
		&-#{$key} {
			flex-grow: $key;
		}
    }
}


////////////////////////////////////////////////////////////////////////////
// Paddings

$padding: ".padding";
$paddingKey: "auto", "0", "1", "2", "3", "4", "5";

#{$padding} {

	@each $key in $paddingKey {
		&-#{$key} {
			padding: map-get($gutter, $key);
		}
    }

	@each $key in $paddingKey {
		&Bottom-#{$key} {
			padding-bottom: map-get($gutter, $key);
		}
    }

	@each $key in $paddingKey {
		&Top-#{$key} {
			padding-top: map-get($gutter, $key);
		}
    }

	@each $key in $paddingKey {
		&Left-#{$key} {
			padding-left: map-get($gutter, $key);
		}
    }

	@each $key in $paddingKey {
		&Right-#{$key} {
			padding-right: map-get($gutter, $key);
		}
    }
}


////////////////////////////////////////////////////////////////////////////
// Margins

$margin: ".margin";
$marginKey: "auto", "0", "1", "2", "3", "4", "5";

#{$margin} {

	@each $key in $marginKey {
		&-#{$key} {
			margin: map-get($gutter, $key);
		}
    }

	@each $key in $marginKey {
		&Bottom-#{$key} {
			margin-bottom: map-get($gutter, $key);
		}
    }

	@each $key in $marginKey {
		&Top-#{$key} {
			margin-top: map-get($gutter, $key);
		}
    }

	@each $key in $marginKey {
		&Left-#{$key} {
			margin-left: map-get($gutter, $key);
		}
    }

	@each $key in $marginKey {
		&Right-#{$key} {
			margin-right: map-get($gutter, $key);
		}
    }
}


////////////////////////////////////////////////////////////////////////////
// Buttons

@function hover-clr($color) {
	@if (lightness($color) > 50) {
		@return darken($color, 12%);
	} @else {
		@return lighten($color, 12%);
	}
}

@function active-clr($color) {
	@if (lightness($color) > 50) {
		@return darken($color, 16%);
	} @else {
		@return lighten($color, 16%);
	}
}

@mixin button-bg($bg) {
	background: $bg;
	&:hover {
	  background: hover-clr($bg);
	  transition: all 0.3s ease;
	  cursor: pointer;
	}
	&:active {
	  background: active-clr($bg);
	}
}

$button: ".btn";
$buttonTextKey: "1", "2", "3";
$buttonKey: "success", "error", "warning", "info", "white", "black", "primary", "secondary";

#{$button} {

	@each $key in $buttonTextKey {
		&-#{$key} {
			color: $color-white;
			text-decoration: none;
			padding: map-get($gutter, $key)/2 map-get($gutter, $key);
			border-radius: map-get($gutter, $key)/2;
			font-size: map-get($gutter, $key);
			font-weight: 400;
			font-stretch: normal;
			font-family: Arial;
			line-height: normal;
			appearance: auto;
			border: none;
		}
    }

	@each $key in $buttonKey {
		&-#{$key} {
			@include button-bg( map-get($colors, $key) );
		}
    }
}