// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

////////////////////////////////////////////////////////////////////////////
// Colors

//-- Colors:start --//
//https://www.color-hex.com/color-palette/39889
$color-black: #000000;
$color-success: #009944;
$color-error: #cf000f;
$color-warning: #f0541e;
$color-info: #63c0df;
$color-white: #FFFFFF;
//https://medium.com/ge-design/iot-cool-gray-is-a-great-background-color-for-data-visualization-ebf18c318418
$color-gray2: #E3E8ED;
$color-gray4: #C5D1D8;
$color-gray14: #364C59;
$color-gray18: #121F26;
// Theme Pallette
$color-primary: $color-gray2;
$color-secondary: $color-gray4;
$color-default: $color-gray14;
$color-dark: $color-gray18;


////////////////////////////////////////////////////////////////////////////
// Breakpoints

//-- Breakpoints:start --//

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

//-- Breakpoints:end --//

////////////////////////////////////////////////////////////////////////////
// Colors

//-- Colors:start --//

$colors: (
  "black": $color-black,
  "success": $color-success,
  "error": $color-error,
  "warning": $color-warning,
  "info": $color-info,
  "white": $color-white,
  "primary": $color-primary,
  "secondary": $color-secondary,
  "dark": $color-dark,
  "default": $color-default
) !default;

//-- Colors:end --//

////////////////////////////////////////////////////////////////////////////
// Gutter

//-- Gutter:start --//

$gutter: (
  "auto": auto,
  "0": 0,
  "1": 8px,
  "2": 16px,
  "3": 24px,
  "4": 32px,
  "5": 40px,
  "6": 48px
) !default;

//-- Gutter:end --//

////////////////////////////////////////////////////////////////////////////
// Overflow

//-- Overflows:start --//

$overflows: (
  "auto": auto,
  "hidden": hidden,
  "scroll": scroll,
) !default;

//-- Overflows:end --//


////////////////////////////////////////////////////////////////////////////
// Heights

//-- Heights:start --//

$heights: (
  "auto": auto,
  "inherit": "inherit",
  "full": #{"100%; height: -moz-available; height: stretch"},
) !default;

//-- Heights:end --//


////////////////////////////////////////////////////////////////////////////
// Widths

//-- Widths:start --//

$widths: (
  "auto": auto,
  "inherit": "inherit",
  "half": 50%,
  "full": #{"100%; width: -moz-available; width: stretch"},
  "0": 0,
  "1": 8px,
  "2": 16px,
  "3": 24px,
  "4": 32px,
  "5": 40px,
  "6": 48px,
) !default;

//-- Widths:end --//

////////////////////////////////////////////////////////////////////////////
// Widths

//-- Positions:start --//

$positions: (
  "static": #{"static; left: 0; right: 0; margin: auto"},
  "absolute": #{"absolute; left: 0; right: 0; margin: auto"},
  "relative": #{"relative; left: 0; right: 0; margin: auto"},
  "fixed": #{"fixed; left: 0; right: 0; margin: auto"},
) !default;

//-- Positions:end --//