// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

////////////////////////////////////////////////////////////////////////////
// Colors

//-- Colors:start --//
//https://www.color-hex.com/color-palette/39889
$color-black: #000000;
$color-success: #009944;
$color-error: #cf000f;
$color-warning: #f0541e;
$color-info: #63c0df;
$color-white: #FFFFFF;
//https://medium.com/ge-design/iot-cool-gray-is-a-great-background-color-for-data-visualization-ebf18c318418
$color-gray1: #EBEFF2;
$color-gray2: #E3E8ED;
$color-gray16: #23343F;
$color-gray19: #0C1419;
// Theme Pallette
$color-primary: $color-gray16;
$color-secondary: $color-gray19;

$colors: (
  "black": $color-black,
  "success": $color-success,
  "error": $color-error,
  "warning": $color-warning,
  "info": $color-info,
  "white": $color-white,
  "primary": $color-primary,
  "secondary": $color-secondary
) !default;

//-- Colors:end --//

////////////////////////////////////////////////////////////////////////////
// Gutter

//-- Gutter:start --//

$gutter: (
  "auto": auto,
  "0": 0,
  "1": 8px,
  "2": 16px,
  "3": 24px,
  "4": 32px,
  "5": 40px
) !default;

//-- Gutter:end --//

////////////////////////////////////////////////////////////////////////////
// Heights

//-- Heights:start --//

$heights: (
  "auto": auto,
  "inherit": "inherit",
  "full": #{"100%; height: -moz-available; height: stretch;"},
) !default;

//-- Heights:end --//


////////////////////////////////////////////////////////////////////////////
// Widths

//-- Widths:start --//

$widths: (
  "auto": auto,
  "inherit": "inherit",
  "half": 50%,
  "full": #{"100%; width: -moz-available; width: stretch;"},
) !default;

//-- Widths:end --//